[2019-01-14 17:23] jameriah30 opened #1 "Wire frame 1(Admin-Web)"

[2019-01-14 17:25] jameriah30 opened #2 "Wire frame 2(User-Kid-Mobile)"

[2019-01-14 17:26] jameriah30 opened #3 "Investigate how to call API from browser using React"

[2019-01-14 17:27] jameriah30 opened #4 "Investigate how to call API from browser using Angular"

[2019-01-14 17:27] jameriah30 opened #5 "Investigate how to call API from browser using Vue"

[2019-01-14 17:29] jameriah30 opened #6 "Authentication-Communicate with Auth person from the API Team"
This task is assigned to Mekone as soon as he accepts his invitation to the Repo

[2019-01-14 17:31] jameriah30 opened #7 "Investigate Hosting(HTML/JS/CSS/Images)"
This task is assigned to Sam as soon as he accepts his invitation to the Repo

[2019-01-14 17:32] jameriah30 opened #8 "Investigate how to call a restricted Blob from a browser"
This task is assigned to Sahand as soon as he accepts his invitation to the Repo

[2019-01-15 21:08] JLaveta commented on #4
Angular 6 has a service called "HttpClient" that can be used to make API calls. The module is imported using the following syntax (from Angular's Documentation):

[code]

From there, HttpClient can be injected into an application class as follows:

[code]
The HttpClient has all standard methods: post, get, put, and delete.

Angular also includes some tools for monitoring and logging the status of

[2019-01-15 21:20] ncobb01 commented on #5
2 hours of research so far.

Good resource:
https://www.sitepoint.com/fetching-data-third-party-api-vue-axios/

[2019-01-15 22:40] JLaveta commented on #4
Work so far: 1.5 hours.

[2019-01-15 22:43] jameriah30 commented on #1
I am using both Balsamic and Adobe Xd, to create a Wire Frame for the Admin- Web app. So far I have spent 2 hours testing out both of these apps to see which one is a better fit. I estimate that it will take me 8 hours to complete this task.

[2019-01-15 22:44] gshields5541 commented on #1
I’m using XD too so it’s all good

Gerald

[2019-01-16 00:57] SamRicha commented on #7
I was looking into using GitHub Pages for hosting the project but one issue is that it happens to be a static site hosting service and doesn't support server-side code such as PHP, Ruby, or Python. Other than that I think it's a good service to use and it's free so if we are able to use it we could start implementing it right away without waiting for web host funding from the school.

[https://hel

[2019-01-16 01:41] mtolrom commented on #6
So far, found 3 major methods for API authentication
1) HTTP Basic Auth : username/password in header, insecure if no SSL certificate
2) API Keys : fast, default approach, only authenticate, no specific authorization, insecure
3) OAuth : authentication + authorization, uses token, secure, recommended
I will check with the person in API Team in charge of Authentication what they want to do.

[2019-01-16 01:49] HjLubas commented on #3
Found that React JS works like an XML which consist of 3 life cycles:  Constructor where you call the constructor, parent class, and set the State - the data.  Then you go to the lifecycle  method where you fetch the data from the API and grab results and then set it to your state.  Then finally, render, where you show the State or data that you grab from the API.  This took me 3 - 4 hours to rese

[2019-01-16 01:57] mtolrom commented on #6
I also spoke with the API guy (@bigTimeBrad ) in charge of the authentication. He is still investigating.

[2019-01-16 02:02] ncobb01 commented on #5
Estimate: 6 hrs

[2019-01-16 02:26] toddysm commented on #2
https://xd.adobe.com/view/aa512d06-f6ba-401f-4d90-aa4026fe6ee3-dc60/

[2019-01-17 00:39] mtolrom commented on #6
Basic API : http://cloudpracticum.azurewebsites.net/
Swagger : http://cloudpracticum.azurewebsites.net/swagger/docs/v1
Developer portal : https://cloudpracticum.portal.azure-api.net/ (in progress)
I enabled OAuth 2.0 for the API but operations are not showing up. Will fix it and proceed with JWT policies.
Another web app to test the API : cloudpracticumtest.azurewebsites.net

[2019-01-17 00:45] mtolrom commented on #6
You can make a call for one book using Id : http://cloudpracticum.azurewebsites.net/api/books/2
Or make a call for all books with no param : http://cloudpracticum.azurewebsites.net/api/book

[2019-01-17 01:31] gshields5541 commented on #2
This is some screenshots from the Wireframe Markup. To see a interactive version of the Wireframe markup, please visit https://xd.adobe.com/view/aa512d06-f6ba-401f-4d90-aa4026fe6ee3-dc60/ :

![screen shot 2019-01-22 at 7 31 01 pm](https://user-images.githubusercontent.com/20196881/51581314-66bdbf00-1e7c-11e9-925f-8b14ce231372.png)

![screen shot 2019-01-16 at 5 07 43 pm](https://user-images.github

[2019-01-17 22:07] JLaveta commented on #4
Time estimate adjusted to account for additional work on getting an example webpage working with AngularJS API calls. Spent about an hour or so getting a working AngularJS index.html that calls an API GET. Still having some difficulty using Mikal's API, but will continue working on getting it going.

[2019-01-21 00:44] ncobb01 commented on #5
6 hrs total work so far

[2019-01-21 22:59] ncobb01 commented on #5
7 hrs total time. Submitted working code to new GitHub branch

[2019-01-22 19:48] SamRicha commented on #7
Azure Storage Hosting: [link](https://storagtestv0.blob.core.windows.net/$web/index.html)
Azure Web App Hosting: [link](http://testsite-v0.azurewebsites.net/)

[2019-01-22 20:59] mtolrom commented on #6
I implemented and tested Web API with OAuth :
Web API with OAuth : http://cloudpracticum.azurewebsites.net/
Swagger UI : http://cloudpracticum.azurewebsites.net/swagger/ui/index
Swagger schema : http://cloudpracticum.azurewebsites.net/swagger/docs/v1
I abandoned the implementation with Azure API Management.

[2019-01-22 21:06] #6 closed, assigned to mtolrom

[2019-01-22 21:47] JLaveta commented on #4
Got a basic API call working with AngularJS, here: https://codepen.io/anon/pen/GPaLRM?editors=1111

This took more time than expected as the API being used needed a slight configuration change. API calls were initially being rejected. It is functioning now. Spent around 2 hours trying to troubleshoot.

I am in the process of setting up quick site in Angular to demonstrate API calls.

[2019-01-23 00:24] JLaveta commented on #4
2hrs45m - Finished a very basic example of the API call in Angular. I've got a locally hosted web page with a form for user name and a button. The app will call the API with data from the form and display the message received back from the API.

The next step is to work on updating the wiki page documenting this work.

[2019-01-23 00:42] JLaveta commented on #4
Total about 7 hours.

Demo Link (temporary): https://angular-q3o3bc.stackblitz.io

GitHub Wiki: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/API-Calls-Using-Angular

[2019-01-23 01:15] gitsah commented on #8
I didn't do an estimate beforehand this time around since I forgot to at the beginning, but in the end it took me about 2 - 3 hours to research the topic and write the wiki page about it.

[2019-01-23 01:31] gitsah commented on #8
Wiki page I completed: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Shared-Access-Signatures

[2019-01-23 01:35] mtolrom commented on #6
Wiki link : https://github.com/MerryFairyTalesAD440/UX-UI/wiki/7.-Authentication

[2019-01-23 01:35] jameriah30 commented on #1
Update: I ended up using Lucid Charts as my wire framing tool. It took me 12 hours-ish total to complete, including meeting time with Melanie and Maria to discuss API and back end calls. It was difficult to coordinate a UI design with a corresponding API path structure since there are files in different languages. It got a bit confusing at times.
Attached is a PDF of the Wireframe:
[Wireframe1.pdf

[2019-01-23 01:51] HjLubas commented on #3
Research further into security, cross-browser compatibility, and implement a simple code to run.  I used another API and rendered it to the web which wasn't too hard.   Took me probably about 4 to 5 hours.

[2019-01-23 01:57] HjLubas commented on #3
![image](https://user-images.githubusercontent.com/34633828/51577524-ff4d4280-1e6e-11e9-9389-023ff92e6445.png)
![image](https://user-images.githubusercontent.com/34633828/51577560-1db33e00-1e6f-11e9-9d43-19fc1603f7d0.png)

Here are the images of the code and rendered site.  Could not load it on wiki.

[2019-01-23 01:59] HjLubas commented on #3
Github Wiki: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/API-Call-from-Browser-using-React

[2019-01-23 02:12] mtolrom commented on #6
5 hours of research and implementation.

[2019-01-23 02:26] JLaveta commented on #4
https://stackblitz.com/edit/angular-q3o3bc

TODO: Fix Git issues so code is properly added to repository.

[2019-01-23 03:09] JLaveta commented on #4
Code has been properly added to GitHub. This required recreation of the Angular demo project to avoid a nested repository.

GitHub branch link: https://github.com/MerryFairyTalesAD440/UX-UI/tree/angularDemo

[2019-01-23 04:31] #2 closed, assigned to gshields5541

[2019-01-23 21:00] jameriah30 opened #9 "Create a login page(Sign in with…..)"

[2019-01-23 21:01] jameriah30 opened #10 "Create Home Page(List of Books)(GET /books/)"

[2019-01-23 21:02] jameriah30 opened #11 "Create the Add Book Form using Vue(POST /books/)"

[2019-01-23 21:02] jameriah30 opened #12 "Implement in the UI how to handle SASS Token:"

[2019-01-23 21:03] jameriah30 opened #13 "Upload File(Prototype--Drag and Drop/Browse):"

[2019-01-23 21:03] jameriah30 opened #14 "A Script to obtain SAS token from storage:"

[2019-01-23 21:04] jameriah30 opened #15 "Filter ProtoType(VUE prototype to filter books):"

[2019-01-23 21:05] jameriah30 opened #16 "Upload File API Call:"

[2019-01-23 21:06] jameriah30 commented on #10
My initial time estimate of this task is 8 hours.

[2019-01-24 04:27] HjLubas commented on #15
Research Vue
Estimated Time: 2 hours
Research Vue documentation to prep for coding

Wireframe for Filter Page
Estimated Time:  1 hour
Sketch wireframe and filter details to what happens on page

Write Code
Estimated Time:  3- 4 hours
Write the code to filter the page.

Upload Code:
Estimated Time: 2 hours
Upload to Github and webhosting site

[2019-01-24 05:01] HjLubas commented on #3
hosted web :  https://react-ercxp7.stackblitz.io/

[2019-01-25 02:02] JLaveta commented on #12
Notes from class: Implement in the UI framework how to handle SAS token. JS function which stores either in local storage or session or cookie or w/e so you can call the SAS API.

[2019-01-26 17:57] SamRicha commented on #9
I estimate that it'll take 3 hours to complete this task.

[2019-01-26 23:03] #3 closed, assigned to HjLubas

[2019-01-26 23:16] #1 closed, assigned to jameriah30

[2019-01-26 23:17] #4 closed, assigned to JLaveta

[2019-01-26 23:19] #5 closed, assigned to ncobb01

[2019-01-26 23:48] #8 closed, assigned to gitsah

[2019-01-28 04:17] gshields5541 commented on #13
Working on the Drag and Drop code using Vue.js and AXIOS.js time: 3 hours

[2019-01-28 04:44] #7 closed, assigned to SamRicha

[2019-01-29 06:00] mtolrom commented on #16
About 5 hours estimated. Researching:
- build a simple VueJs app
- make API call with VueJs
- Upload file with VueJs
- Deploy VueJs app on Azure
- Fix post issues

[2019-01-29 06:00] mtolrom commented on #16
Uploading a file with VueJs via an API call
Web API used : http://mekonecampusapi.azurewebsites.net/Help/Api/POST-api-Pictures
test page : http://cloudpracticumtest.azurewebsites.net/
uploaded image location : https://mekonecampusapistorage.blob.core.windows.net/campusimages/<your-image.name>
git page : https://github.com/mtolrom/VueJs-Api-Call-File-Upload
Testing : other fields are not required,

[2019-01-29 06:03] mtolrom commented on #16
I still need to fix the following issue to return meaningful response :
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://10.0.0.155:8080/sockjs-node/info?t=1548737186079. (Reason: CORS request did not succeed).[Learn More]

[2019-01-29 15:13] HjLubas commented on #15
Still working on writing the code.  Not sure why it's not rendering how it wanted it.  Also, wondering what is there to filter.  Sorting seems more appropriate.  Only filter I can think of are by Author and Categories/Genre.  Hours works so far about 6 - 8 hours.

[2019-01-29 18:27] SamRicha commented on #9
Implementation took 9 hours.

Created a login page that utilizes Gmail as a way of logging in. As of right now when the user logs in they are shown their name, profile icon, and email.

Google Login Created: [https://webapplogin.azurewebsites.net/](https://webapplogin.azurewebsites.net/)

Updated UX/UI Wiki: [link](https://github.com/MerryFairyTalesAD440/UX-UI/wiki/4.-UX-UI-Research)

I still need

[2019-01-29 19:06] ncobb01 commented on #11
8.5 hours

[2019-01-29 21:54] JLaveta commented on #12
https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1

[2019-01-29 21:54] JLaveta commented on #12
Relevant info: https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1

[2019-01-30 00:26] JLaveta commented on #14
Thought this might be relevant, just in case you haven't seen it:

https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1

[2019-01-30 01:27] gitsah commented on #14
Use Azure functions to generate and retrieve a key example: https://github.com/Azure-Samples/functions-node-sas-token

[2019-01-30 01:40] gitsah commented on #14
Generate the token server-side: https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token

[2019-01-30 01:54] jameriah30 commented on #10
Spent some time reading up and practicing using Vue JS. I got an updated version of the Books API from Maria for testing. I haven't successfully pulled pulled the data from the API yet. I've spent 5 hours so far on this task.

[2019-01-31 22:09] ncobb01 commented on #11
Until we receive a working API Post endpoint from the API team, and a location to deploy for demoing from the Dev Ops team this item is complete.

Estimate 10hrs , it took 10.5 hours.

See Wiki for more details and link to code.
https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Add-Book-Form-using-Vue

Link to deployment on Azure:
https://nathansprint2.z13.web.core.windows.net/

Link to pull requ

[2019-02-04 02:32] gshields5541 commented on #13
Working on the Drag and Drop code using Vue.js and AXIOS.js time: 10 hours

[2019-02-04 02:36] gshields5541 commented on #13
![screen shot 2019-02-03 at 6 35 01 pm](https://user-images.githubusercontent.com/20196881/52187474-88a33400-27e2-11e9-9f64-cd195e4c98fb.png)
![screen shot 2019-02-03 at 6 34 55 pm](https://user-images.githubusercontent.com/20196881/52187475-88a33400-27e2-11e9-8842-f3855d4174b0.png)
![screen shot 2019-02-03 at 6 34 47 pm](https://user-images.githubusercontent.com/20196881/52187476-88a33400-27e2-11

[2019-02-04 23:11] HjLubas commented on #15
Finish the code.   Here are the links:
Wiki: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Book-List-Filter-VueJS
Demo (Update 2/24 with modified API) :  https://harryoneboxsprint2.z5.web.core.windows.net/
Code: https://github.com/MerryFairyTalesAD440/UX-UI/blob/vue_FilterBook/src/components/BookList_Filter.vue

Pull request #1(used origin branch vueStarter which Daniel Bell merge into his br

[2019-02-06 01:20] gitsah commented on #14
I eventually found a way to make a C# script for this task. Every option I looked at seemed to require additional setup, this isn't much different. The App.config in the project needs to be configured for the account and container, though they could be hardcoded in as well, the account key was removed for security. The program.cs will print out the SAS key for the container to the console if the A

[2019-02-06 02:15] jameriah30 commented on #10
I've completed the design of the Admin Portal using Bootstrap-Vue, which provides the most extensive implementations of the components and grid system of the most current version of Bootstrap(V4), when using Vue js. The design is simple and responsive and I think will cover all the requirement necessary for the UI, give or take a few features that can be added or removed later. I'm able to pull da

[2019-02-06 03:00] jameriah30 commented on #10
Until I format the data properly, I've added some mock content that shows what I'm going for in terms of showing all of the books. Here's a link to my current code: https://github.com/MerryFairyTalesAD440/UX-UI/tree/adminPortal

I've also attached a few screenshots of what the design looks like.
![adminp-1](https://user-images.githubusercontent.com/16824199/52318214-385dda80-2978-11e9-8a39-e93955d

[2019-02-06 03:21] JLaveta commented on #12
Branched off of vueStarter to show an example of cookie read/write/delete in Vue. Example branch is called vueCookie and can be found here:

https://github.com/MerryFairyTalesAD440/UX-UI/tree/vueCookie

With research, this ended up taking much less time than anticipated at around 5 total hours.

[2019-02-06 03:28] JLaveta commented on #12
Wiki link: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/SAS-Token-Storage---Cookies

[2019-02-06 03:46] mtolrom commented on #16
Still working on image upload. I can get sas token but not upload image
Test page : http://cloudpracticumtest.azurewebsites.net/
Git : https://github.com/mtolrom/VueJs-Api-Call-File-Upload
Error : Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.Signature did not match. String to sign used

[2019-02-07 05:18] mtolrom commented on #16
Code returning this now : "data": "", "status": 201, "statusText": "Created",

[2019-02-07 05:33] mtolrom commented on #16
Images are being uploaded now, Mikal verified it.

[2019-02-20 01:41] mtolrom commented on #16
code is here : https://github.com/MerryFairyTalesAD440/UX-UI/blob/MekoneUiUploadSasToken/merryfairytalesroot/root/VueJs-Api-Call-File-Upload/src/App.vue
app is here : http://cloudpracticumtest.azurewebsites.net/

[2019-02-20 02:01] SamRicha commented on #9
Estimated time: 3 hours
Actual Implementation: 9.25 hours

Created a login page that utilizes Gmail as a way of logging in. As of right now when the user logs in they are shown their name, profile icon, and email.

Azure blob: [link](https://oneboxtempstorage.blob.core.windows.net/$web/index.html)
Wiki: [link](https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Create-a-Login-Page)
Pull request: [l

[2019-02-20 02:08] mtolrom commented on #16
Wiki: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/7.-Authentication

[2019-02-20 02:16] jameriah30 commented on #10
[Wiki](https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Admin-Portal-Page)

[Branch Code](https://github.com/MerryFairyTalesAD440/UX-UI/tree/jeremiahbranch)

[implementation](https://1boxtempbe5zic7cgmi2i.z5.web.core.windows.net/) (This is my current code deployed on  test blob)

[pull request link](https://github.com/MerryFairyTalesAD440/UX-UI/pull/39)

Time Spent: 20 hours-ish/ estimated 10 ho

[2019-02-20 02:24] mtolrom commented on #16
API Resources used :
GET SAS TOKEN : https://merryfairytales.azurewebsites.net/api/getSAS
UPLOAD IMAGE : https://ad440oneboxtempbb81.blob.core.windows.net/getsastoken/

[2019-02-20 02:26] gitsah commented on #14
https://docs.microsoft.com/en-us/azure/storage/common/storage-powershell-guide-full
https://docs.microsoft.com/en-us/powershell/module/azure.storage/new-azurestorageblobsastoken?view=azurermps-6.13.0

potentially easier option, requires login instead of account key

[2019-02-20 02:44] mviencek opened #19 "Upload File API Bug"
Uri is hard coded.  It should come from the api call.

[2019-02-20 02:45] mviencek commented on #19
var myUrl = "https://ad440oneboxtempbb81.blob.core.windows.net/getsastoken/"+this.myFileName+".jpg"+this.$session.get('myI');

[2019-02-21 02:27] jameriah30 opened #22 "Integrate Login, ListBooks, and AddBook(calling POST book) Pages"

[2019-02-21 02:28] jameriah30 opened #23 "Add Page + Language Pages"

[2019-02-21 02:29] jameriah30 opened #24 "Upload text file + calling the PUT API"

[2019-02-21 02:31] jameriah30 opened #25 "Upload Image for the Page"

[2019-02-21 02:32] jameriah30 opened #26 "Log Events from the UI"

[2019-02-21 02:33] jameriah30 opened #27 "Authentication with the API"

[2019-02-21 22:03] SamRicha commented on #27
Estimated time for completion is 5 hours.

[2019-02-21 22:21] ncobb01 opened #28 "After Google account login no info displayed"
https://oneboxtempstorage.blob.core.windows.net/$web/index.html#

I am able to select my Google account, however once I do nothing happens. No information is displayed, it just shows the login page again. The summary of the feature says it should be displaying my account info after entry. Thanks!

Using Windows, Firefox as browser. Expected to have custom user info shown, it was not, only stayed o

[2019-02-24 20:58] HjLubas commented on #23
Create the 3 templates ( Book Page, Add Page, Add Languages)
Estimated:  2 - 4 hours
Code for each page
Estimated: 4 - 6 hours
Deploy to Storage account:
Estimated: 2 hours

Total Estimated Time:  8 - 12 hours

[2019-02-24 22:28] mtolrom commented on #24
Direct upload image + sound + text files is working now.
http://cloudpracticumtest.azurewebsites.net/
Will work on calling PUT next.

[2019-02-25 00:15] ncobb01 commented on #25
Estimate 13 hours, 11.5 so far.

Wiki: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Upload-Image

Link to deployment: https://nathansprint2.z13.web.core.windows.net/#/addpage

Link to pull request: https://github.com/MerryFairyTalesAD440/UX-UI/pull/60

Bug reporting: https://github.com/MerryFairyTalesAD440/UX-UI/issues/58

[2019-02-25 21:19] SamRicha commented on #28
Have you tried logging in without Adblock?

[2019-02-25 21:59] jameriah30 commented on #13
I'm not seeing your code on any branch to look at in order to do testing, so I created a bug. Please create a new branch with your code you have, so it can be tested.

[2019-02-25 22:02] jameriah30 opened #34 "Upload File(Prototype--Drag and Drop/Browse): --Create a branch with your working code for testing"

[2019-02-25 22:03] jameriah30 commented on #34
I'm not seeing your code on any branch to look at in order to do testing, so I created a bug. Please create a new branch with your code you have, so it can be tested.

[2019-02-26 19:45] ncobb01 commented on #28
Issue is resolved, function working now as expected .
Appears to be due to an adblocker on my Firebox. Other browers including Internet Explorer functioned correctly.

[2019-02-26 21:23] SamRicha commented on #27
I added a button that only functioned when the user was logged into their Google account on the blob website. I still need to fix the CSS, and use the API.

Implementation: 1 hour
blob website: [link](https://oneboxtempstorage.blob.core.windows.net/$web/index.html)
Git commit: [link](https://github.com/MerryFairyTalesAD440/UX-UI/tree/9ec2b909592963b78c77408d7501ec64dbebd703)
Updated Wiki: [link](h

[2019-02-27 01:28] jameriah30 commented on #22
Currently trying to integrate my code into the Dev branch code. I initially built the Admin Portal page using vue.js through a CDN script tag. I now need to break it into components and to fit the dev branch model which uses the vue cli starter pack. I also need to import bootstrap-vue into the starter pack, instead of using the CDN script tag. As soon as I complete this, I can then integrate my c

[2019-02-27 03:22] ghost opened #37 "Preserve Lexical Scope by using es6 features"
https://github.com/MerryFairyTalesAD440/UX-UI/blob/f5178a263e39f7dccdd984590ad2ea7192d686ba/src/components/BookListFilter.vue#L29

If you want preserve the lexical scope, you can use es6 arrow functions rather than `var self = this` This is known to cause errors. Here is how it might be implemented.

[code]

[2019-02-27 03:35] ghost opened #38 "Index.html missing DOCTYPE"
https://github.com/MerryFairyTalesAD440/UX-UI/blob/0ce9927cb4bd953d50ab6efaa7778e0616ea3557/index.html#L1

@ncobb01  index.html is missing `DOCTYPE` at the top of the file.

It should look like this:

[code]

[2019-02-27 05:16] ncobb01 commented on #38
Code updated, bug fix complete

[2019-03-01 19:32] jameriah30 opened #40 "Refactor Login code to Vue js"
I reviewed your login code, and it looks like it's written in vanilla javascript? It needs to be written using vue js. I need to integrate the login page into the admin portal, but can not do it the way it is written. Please refactor your code to vue.

[2019-03-01 22:34] DnlBell opened #41 "There are no tests for the UI"
The UI needs to be tested. Currently we are running a test that will always be successful making the test stage is effectively useless.
[code]
![capture](https://user-images.githubusercontent.com/16299094/53677543-717f2700-3c66-11e9-9901-349b71bb9a52.JPG)

[2019-03-03 00:13] mtolrom commented on #24
**Test page** : http://cloudpracticumtest.azurewebsites.net/
**Git code** : https://github.com/MerryFairyTalesAD440/UX-UI/blob/MekoneUiUploadSasToken/merryfairytalesroot/root/VueJs-Api-Call-File-Upload/src/App.vue
**PR** : https://github.com/MerryFairyTalesAD440/UX-UI/pull/42
**Wiki** : https://github.com/MerryFairyTalesAD440/UX-UI/wiki/8.-File-Upload---SAS-Token
**Container** : https://ad440onebo

[2019-03-03 05:56] jameriah30 commented on #37
![image](https://user-images.githubusercontent.com/16824199/53691583-d8b7dc80-3d35-11e9-97bd-e9180e5d81b2.png)

Thank you Layth! I made the changes and works without issue

[2019-03-03 05:57] jameriah30 commented on #37
Issue is fixed.

[2019-03-03 19:16] HjLubas opened #43 "the list is empty"
The list is empty - no data for #15

[2019-03-03 19:17] HjLubas commented on #43
I fixed this with the updated URL that the API fixed with their new naming convention

[2019-03-03 22:12] Kading82 opened #46 "Cannot bind SSL to static website in Azure"
Still not to clear on the details, but when we attempt to bind our static URL to a CERT it does not autofill in KUDU.  So the way it works with a function, is you follow my wiki and KUDU will auto fill the information and then allow you to add a cert to the function.  We do not seem to have that option with the static website:

https://1boxtempbe5zic7cgmi2i.z5.web.core.windows.net/

We should be a

[2019-03-03 22:23] #46 closed, assigned to Kading82

[2019-03-03 22:24] Kading82 opened #47 "Cannot Bind SSL to Static website in Azure"
Still not to clear on the details, but when we attempt to bind our static URL to a CERT it does not autofill in KUDU. So the way it works with a function, is you follow my wiki and KUDU will auto fill the information and then allow you to add a cert to the function. We do not seem to have that option with the static website:

https://1boxtempbe5zic7cgmi2i.z5.web.core.windows.net/

We should be abl

[2019-03-03 22:36] Kading82 commented on #47
The answer lies here:

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-https-custom-domain-cdn

Also note that this issue should be in the builds board, I don't know why it keeps getting stuck in UX-UI.

[2019-03-05 00:37] DnlBell opened #48 "Accidental push to master"
I am just going to remove the files added as they don't interact with anything.

[2019-03-05 01:03] DnlBell commented on #48
Pull request was approved and deployed successfully to production server.

[2019-03-05 01:03] #48 closed, assigned to cjshaw, DnlBell, SamRicha

[2019-03-05 01:23] DnlBell opened #50 "roll back on develop branch"
Going to try and roll back harry's changes from the last couple days.

[2019-03-05 04:05] Kading82 commented on #47
We now know more about the situation see here:

https://github.com/MerryFairyTalesAD440/Builds/wiki/Associating-a-custom-domain-to-an-Endpoint-using-CDN-in-Azure

But we have yet to give it a shot.  We will associate the endpoint using CDN then bind the certificate, then automating the renewal can take place.

[2019-03-05 15:40] HjLubas commented on #23
Wiki: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Vue-Add-Page-and-Add-Language-Page
Code: https://github.com/MerryFairyTalesAD440/UX-UI/tree/vueAddPage_Language/src
Demo: https://harryoneboxsprint2.z5.web.core.windows.net/
Pull Request:  https://github.com/MerryFairyTalesAD440/UX-UI/issues/55
Bug: https://github.com/MerryFairyTalesAD440/UX-UI/issues/55

Total time for completion:  4-6 hour

[2019-03-05 15:47] HjLubas opened #54 "Demo for testing for #13"
A demo link would be great to test and see how your code works.  If you can deploy that to a storage account it would be great.

[2019-03-05 15:48] #54 closed, assigned to HjLubas

[2019-03-05 15:58] HjLubas opened #55 "Demo - Deploy to azure storage blob"
It would be nice to see this deployed to a static website so we can take a look on how your code works for #13

[2019-03-05 18:19] toddysm commented on #28
I tried with Firefox, Chrome, and Edge and none of the browsers show the user information. I see that the information is returned in the Developer Console but the page is not updated with it.

![image](https://user-images.githubusercontent.com/1007103/53827507-25ff9e00-3f30-11e9-81b4-801678f80abe.png)

[2019-03-05 22:01] JLaveta commented on #12
@toddysm

[2019-03-05 23:19] gshields5541 commented on #55
I'm deploying the site, but it's not working once deployed. It's only working locally.

[2019-03-05 23:21] SamRicha commented on #28
@toddysm It should work now as long as you javascript is turned off. I was busy trying to change functionality for the next sprint but got stuck on another task and didn't update the page.
link: [https://oneboxtempstorage.blob.core.windows.net/$web/index.html](https://oneboxtempstorage.blob.core.windows.net/$web/index.html)

[2019-03-05 23:21] HjLubas commented on #55
Did you do a run build and then deploy it to your blob?

[2019-03-05 23:22] gshields5541 commented on #55
Yes, I did.

Gerald

[2019-03-05 23:23] gshields5541 commented on #55
I’ll try it again through. It’s uploading right now to the blog

Gerald

[2019-03-05 23:24] gshields5541 commented on #55
The static website URL : https://webstorage1box.z5.web.core.windows.net <https://webstorage1box.z5.web.core.windows.net/>

[2019-03-05 23:25] gshields5541 commented on #55
Weirdly, it’s working, but the upload isn’t finished yet.

Gerald

[2019-03-05 23:26] HjLubas commented on #55
Yup I see it. Cool. I'll test it out when I get to school. Thanks!

[2019-03-05 23:27] gshields5541 commented on #55
Did switching the Javascript off corrected the issue (Toddy said he switched off Javascript)?

Gerald

[2019-03-06 01:07] jameriah30 commented on #22
[Wiki](https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Integrating-and-Routing)

[Code](https://github.com/MerryFairyTalesAD440/UX-UI/tree/jeremiahbranch)

[Implementation](https://jeremiahsprint4.z5.web.core.windows.net/#/)

[Pull Request](https://github.com/MerryFairyTalesAD440/UX-UI/pull/56)

Time spent: 20 hours ish

[2019-03-06 01:49] #55 closed, assigned to gshields5541

[2019-03-06 01:50] SamRicha commented on #27
Worked on integrating the login page to the UX-UI development branch, making the page with Vue JS, and researched Vue CLI.
Time Worked: 12 hours

[2019-03-06 01:50] HjLubas commented on #55
It's working so I'm not sure what you mean by javascript off.

[2019-03-06 06:37] ncobb01 opened #58 "Upload Image official storage link not included"
Windows, using firefox.

https://nathansprint2.z13.web.core.windows.net/#/uploadimage

Expecting when Upload Image form is completed and image submitted to have the image transferred to a Merry Fairy Tails official storage container.

As of now the images are being stored on a private container.

Steps:
Browse local desktop
Select image
Submit image
Have image appear in dev ops storage container (

[2019-03-06 06:39] ncobb01 opened #59 "Upload Image not using offical storage link"

[2019-03-06 06:44] #59 closed, assigned to ncobb01

[2019-03-07 06:35] #28 closed, assigned to SamRicha

[2019-03-07 06:36] #9 closed, assigned to SamRicha

[2019-03-07 07:37] #40 closed, assigned to SamRicha

[2019-03-07 07:39] SamRicha commented on #27
Integrated a login page for the book website using Vue CLI.

Estimated Implementation: 5 hours
Total Implementation: 20 hours

Implementation Demo: [link](https://oneboxtempstorage.blob.core.windows.net/$web/index.html#)
Updated Wiki: [link](https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Create-a-Login-Page)
Pull Request: [link](https://github.com/MerryFairyTalesAD440/UX-UI/pull/63)
Git Branch

[2019-03-07 21:40] ncobb01 commented on #58
Work completed, new version of code submitted with needed corrections

[2019-03-07 21:46] ncobb01 opened #64 "AddBook feature not in correct component format"
AddBook feature code is not designed properly using the Vue CLI component format. It needs to be condensed down from 2 files to 1, and use the Template / Script formatting to make sure it integrates with the current Dev branch.

Steps:
Integrate code in new format
Test
If test is successful upload to feature branch
Create new pull request

[2019-03-07 21:47] ncobb01 commented on #64
Work has been completed

[2019-03-08 00:34] jameriah30 opened #65 "Complete Sign in Component"

[2019-03-08 00:36] jameriah30 opened #66 "Complete Book List Page/Delete Book/EditBook--Clean up overall design"

[2019-03-08 00:38] jameriah30 opened #67 "BookListFilter in Search Bar---Redesign the BookDetails Layout"

[2019-03-08 00:40] jameriah30 opened #68 "BookDetails Page + Files Upload + Routing"

[2019-03-08 00:41] jameriah30 opened #69 "AddBook Component Functionality"

[2019-03-10 21:13] Kading82 opened #71 "Certification error at link"
We are receiving a cert error at this link:  https://www.1edusite.com/

see this screenshot

![image.png](https://images.zenhubusercontent.com/5c37f85a422d3315446d52e1/711f2512-6ae2-4bbc-8e82-c43e355adf62)

[2019-03-10 21:26] #71 closed, assigned to Kading82

[2019-03-10 22:21] jameriah30 opened #73 "Disable the "Home" Link in the navigation until user has signed in."

[2019-03-11 00:45] toddysm opened #74 "Sign-in doesn't work for File Upload UI"
Related to #24, I am getting the following issue when I try to sign in with Google at http://cloudpracticumtest.azurewebsites.net/

![image](https://user-images.githubusercontent.com/1007103/54094179-1e8b2b00-435c-11e9-8c25-282fba10c19d.png)

[2019-03-11 01:03] toddysm commented on #58
This is failing with error 405

![image](https://user-images.githubusercontent.com/1007103/54094527-d6213c80-435e-11e9-82ab-4a2194006cc4.png)

[2019-03-11 01:48] gshields5541 commented on #34
Created vuedragdrop branch and commit to branch. Total time: 1 hour.

[2019-03-11 01:48] #34 closed, assigned to gshields5541

[2019-03-11 02:55] gshields5541 commented on #26
Working to integrate Azure Application Insights code into App.vue. Total time : 2 hours.

[2019-03-12 01:11] HjLubas commented on #67
Integrate filter search on the book list on the main page
Fix the layout of the new book details page

Estimated time:  3 - 4 hours

[2019-03-12 23:37] gshields5541 commented on #26
Working on setting up Azure insights monitoring, but running into some issues with the resource group. Time 2-3 hours.

[2019-03-13 01:09] jameriah30 commented on #66
Working on Managing Book function to redirect to specific book's BookDetails page. Also working on deleting book.

time spent: 7 hours

[2019-03-13 01:13] SamRicha commented on #65
Estimated Implementation: 20 hours

I've been working on the "Disable the "Home" Link in the navigation until user has signed in. #73" issue this week.
Time Taken so Far: 6 hours

[2019-03-13 04:17] ghost opened #76 "Separation of Concerns"
https://github.com/MerryFairyTalesAD440/UX-UI/blob/4d3dc6f24e3908aad2ade67ce8a7525e5ca6c5da/src/components/LoginPage.vue#L55

#70 For cleaner code, make sure to put the css file in its own file under the css folder structure. This is considered best practices.

In addition, in case you want to add an in-line css, make sure to place that above the body tag so that your css rules will be set before

[2019-03-17 05:53] jameriah30 opened #82 "Delete book redirect not working"

[2019-03-19 07:27] ghost opened #86 "Make sure to identify route names"
https://github.com/MerryFairyTalesAD440/UX-UI/blob/65be2a0881db7f58e13c705896f7db9706c734ff/src/router/index.js#L16

Make sure to identify the route `name` in the `routes` option.

[code]

Later on, you would call this like this:

[code]

[2019-03-19 08:04] jameriah30 commented on #73
I created a function in App.vue to hide the Nav bar if it is on the login page. The user can move forward now until logged in. This issue is resolved.

[2019-03-19 14:23] HjLubas commented on #67
Filter integrated into the new landing page book list.
Book Details Layout - was scrap as the new application layout has been modified
Edited Sign In button

**Code**: https://github.com/MerryFairyTalesAD440/UX-UI/blob/navGuards_SignInButton/src/components/BookList.vue
**PR**: https://github.com/MerryFairyTalesAD440/UX-UI/pull/95
*Bug**: #87
**Wiki**: https://github.com/MerryFairyTalesAD440/UX-UI/

[2019-03-19 14:28] HjLubas opened #87 "list does not populate anymore"
#67 after a while the list does not populate or show any longer.  Fixed it by changing the lifecycle "mount" to "beforeMounted" as it was trying to filter while the list was still being rendered onto the page in the script tag in the booklist component

[2019-03-19 14:28] #87 closed, assigned to nobody

[2019-03-19 15:27] SamRicha commented on #65
Set up Google Login Authorization on both prod and dev resource groups and resolved the issue of adding the session at the top of the booklist page, and imported Vuesession fixing the bug.

Implementation Time: 18 hours
Implementation Demo: [link](https://testcenter.z19.web.core.windows.net/)
Updated Wiki: [link](https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Create-a-Login-Page)

[2019-03-19 15:29] #27 closed, assigned to SamRicha

[2019-03-19 16:31] mtolrom commented on #74
Sam is the owner of this page now and has fixed it by adding session.

[2019-03-19 16:31] #74 closed, assigned to mtolrom

[2019-03-19 16:33] mtolrom commented on #68
Book page completed along with routing.

[2019-03-19 16:33] #68 closed, assigned to mtolrom

[2019-03-19 16:34] mtolrom commented on #23
Completed along with routing.

[2019-03-19 16:34] #23 closed, assigned to HjLubas

[2019-03-19 16:35] mtolrom commented on #19
Upload Text, Image and Audio is working now.

[2019-03-19 16:35] #19 closed, assigned to mtolrom

[2019-03-19 16:37] mtolrom commented on #16
completed along with routing between pages.

[2019-03-19 16:37] #16 closed, assigned to mtolrom

[2019-03-19 16:38] mtolrom commented on #24
Sign in is Sam's task.

[2019-03-19 16:38] #24 closed, assigned to mtolrom

[2019-03-19 16:48] mtolrom commented on #68
Work completed this sprint #4:

01- add book with cover_image and redirect to book page
02- Go from BookList to 1 book page with details
03- Add picture and redirect to book page
04- add page and redirect to language page
05- add language and redirect to Text and Audio upload page
06- Add Text file and redirect to language page
07- Add audio file and redirect to language page
08- list pages
09- Li

[2019-03-19 21:34] jameriah30 commented on #82
Delete book is now working and refreshing after book is deleted.

[2019-03-19 21:37] ncobb01 opened #89 "Redirect not working from AddPage to bookPage"
The redirect is not working for the 'back to bookpage' button after adding a page.

Managed book
Added page
Clicked on Back to Book
I was redirected to a blank page with the books id, but not the book home page
Should have been redirected to main manage book page

[2019-03-19 21:39] ncobb01 commented on #89
Bug fixed . The redirect is now working as expected. The issue was a component name that was not capitalized as it should have been in the code.

[2019-03-19 22:00] ncobb01 commented on #69
Estimated 13 hours, spent 17 hours

Wiki: https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Updates-to-AddBook-and-AddPage---Nathan-Cobb

Link to deployment:  https://www-dev.1edusite.com/

Link to P.R.: https://github.com/MerryFairyTalesAD440/UX-UI/pull/90

Link to completed / closed out bug:  https://github.com/MerryFairyTalesAD440/UX-UI/issues/89

[2019-03-20 01:41] jameriah30 commented on #66
[Pull Request](https://github.com/MerryFairyTalesAD440/UX-UI/pull/93)

[Implementation](https://www-dev.1edusite.com/)

[wiki](https://github.com/MerryFairyTalesAD440/UX-UI/wiki/Delete-Book--NavBar-Disabled-on-Login--Design-Debugging)

[code](https://github.com/MerryFairyTalesAD440/UX-UI/tree/jeremiahbranch)

Lots of Debugging.

Time Spent: 30ish hours

[2019-03-20 03:38] #14 closed, assigned to gitsah

[2019-03-20 17:44] mtolrom commented on #68
**Note : Uploading files is my specific task. The remaining is extra work.**

[2019-03-20 20:24] #26 closed, assigned to gshields5541

[2019-03-20 20:27] gshields5541 commented on #13
I've completed the task: Total time 15 hours

[2019-03-20 20:27] #13 closed, assigned to gshields5541